@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.login-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fffdef;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.input-icon {
    height: 35px;
    width: 400px;
    position: relative;
    display: inline-block;
}

form .input-icon input{
    height: 35px;
    width: 35vw;
    background-color: #fffdef;
    padding: 0px 0px 0px 30px;
    border: 3px solid #0c2001;
    border-radius: 10px;
    color: grey;
}

.boton-login{
    height: 35px;
    width: 38vw;
    background-color: #909777;
    border-radius: 10px;
    font-weight: 500;
}

.boton-register{
    height: 35px;
    width: 35vw;
    background-color: #909777;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form button a{
    color: black;
    text-decoration: none;
}

.form p{
    color: black;
    font-weight: 600;
}

.form a{
    color: #6e9347;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    color: #aaa;
}