:root{
    background-color: white;
}
.contenedor{
    width: 100%;
    height: 30vh;
    background: linear-gradient(180deg, #565a49, #e9edc9);
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1000;
}


.img-container{
    height: 100%;
    width: 45%;
    border-radius: 30px 0 0 30px;
    box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.164);
    background-size: cover;
    background-position: center;
}
.img-container-left{
    height: 100%;
    width: 55%;
    border-radius: 0 30px 30px 0;
    box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.164);
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-position: center;
}

.contenedor-img{
    width: 100vw;
    height: 30vh;
    position: absolute; 
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.bg{
    height: 100%;
    width: 55%;
    border-radius: 0 30px 30px 0;
    box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.164);
    background: linear-gradient(180deg, #565a49, #e9edc9);
}

.contenedorST{
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 30px 30px;
}
.contenedorST > :nth-child(2){
    text-align: center;
}
