.ajustes-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
}
.content{
    width: 100%;
    height: 79vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.content::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}
.content::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #2b3701;
}
.content::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #2b37018c;
}
.image-container{
    border: solid #2b3701;
    height: 70%;
    width: 20%;
    border-radius: 15px;
    background-color: #e9edc9;
}