.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fffdef;
}

.welcome-content{
    margin-top: 20%;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.welcome-clima{
    width: 60%;
    height: 70%;
    background: rgb(166, 171, 144);
    background: linear-gradient(90deg, #ccd5ae 0%, #e9edc9 100%);
    border: 4px solid #2b3701;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.164);
}

.welcome-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 90%;
    margin-left: 20%;
    align-items: center;
}
